#table1 tr td {
	text-align: center;
}

#table1 tr, #table2 tr {
	border-spacing: 0;
}

#table1 td, #table1 th, #table2 td, #table2 th  {
	border: 1px solid #D4D4D4;
	border-spacing: 0;
	padding: 5px 20px;
}

#table2 td br {
	margin-bottom: 10px;
}

#table1, #table2 {
	margin: 30px;
}

.key {
	font-weight: 700;
	text-transform: capitalize;
}